<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <title>CRM</title>
        <%= stylesheet_link_tag    "application", :media => "all" %>
        <%= javascript_include_tag "application" %>
        <%= csrf_meta_tags %>
    </head>
    <body>
        <div id="master">
            <header>
                <h1 id="logo">
                    <a href="index.html"><%= image_tag 'logo.png', :alt => 'Частный репетитор' %></a>
                </h1>
            </header><div class="clearer"></div>
            <%= yield %>
            </div>
        </div>
    </body>
</html>
